    body {
        background-color: #A8D4D5;
        font-family: 'Montserrat', sans-serif;
    }

    h1 { font-size: 20px; 
           }

    h2 {font-size: 18px; 
           }

    p, li { font-size: 14px; 
              } 

    #lucas-werner {
        border-radius: 10%;
      }

    #tryber {
        border-radius: 10%;
    }
