#title {
  text-align: center;
}
#boxColors {
  display: flex;
  justify-content: center;
}
.color {
  width: 80px;
  height: 80px;
  margin: 15px;
  border-radius: 100%;
  background-color: black;
}
#headAnswer {
  padding: 20px;
  text-align: center;
}