html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 720px) {
  nav {
    display: none;
  }
  h1, h2 {
    font-size: 1em;
    text-align: center;
  }
  li {
    font-size: 1em;
    list-style-type: none;
  }
  p {
    font-size: 1.25em;
  }
  

}

@media screen and (min-width:720px) and (max-width:1024px){

}

@media screen and (min-width:1024px){

}